ul.fancytree-container{
    width: 17em;
}

span.fancytree-title{
    white-space: normal;
    width: 12em;
    font-size: 14pt;
    font-family: 'Source Sans Pro', sans-serif;
}

ul.fancytree-container{
    width: 17em;
    border: none;
    position: relative;
}
